body {
    background-color: #B6FFFE;
    color: #490001;
    font-family: 'Helvetica Neue', sans-serif;
    /*Familia sans-serif*/
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-rows: 
        /* 1 */ auto
        /* 2 */ auto
        /* 3 */ 1fr
        /* 4 */ auto;
}

header {
    grid-row: 2;
    text-transform: uppercase;
    font-weight: bold;
}

main {
    grid-row: 3;
}

h1, h2, h3, h4 {
    background-color: #ffc8b6;
    color: #490001;
}

li {
    list-style-type: square;
}

ul {
    background: #ffc8b6;
    color: #490001;
    padding: 2%;
}

ul li {
    margin: 0.2em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #490001;
    padding: 0.5em;
}

table th {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
    background-color: #ffc8b6;
    color: #490001;
}

caption {
    font-size: larger;
    font-weight: bold;
    padding: 1em;
}

img {
    border-radius: 1%;
    float: right;
    padding-left: 5%;
    background-color: #B6FFFE;
    color: #490001;
}

video {
    width: 100%;
}

a:hover {
    background-color: #B6FFFE;
    color: #490001;
}

a {
    color: #490001;
    background-color: #97E4E3;
}

nav {
    grid-row: 1;
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
    border: 1px solid;
    background-color: #97E4E3;
    color: #490001;
}

form {
    display: grid;
    grid-gap: 1rem;
}

input[type=text], input[type=email], input[type=date], select {
    width: 100%;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #ffc8b6;
    color: #490001;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    grid-row: 4;
}