/* Especificidad 001 */
body {
    background-color: #B6FFFE;
    color: #490001;
    font-family: 'Helvetica Neue', sans-serif;
    /*Familia sans-serif*/
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-rows: 
        /* 1 */ auto
        /* 2 */ auto
        /* 3 */ 1fr
        /* 4 */ auto;
}

/* Especificidad 001 */
h1, h2 {
    background-color: #ffc8b6;
    color: #490001;
}

/* Especificidad 001 */
table {
    border-collapse: collapse;
    max-width: 800px;
    display:block;
    font-size:65%;
}

/* Especificidad 002 */
table td, table th {
    border: 1px solid #490001;
    padding: 0.5em;
}

/* Especificidad 002 */
table th {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
    background-color: #ffc8b6;
    color: #490001;
}

/* Especificidad 011*/
input[type=text], input[type=number]{
    width: 100%;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Especificidad 011 */
input[type=submit] {
    width: 100%;
    background-color: #ffc8b6;
    color: #490001;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Especificidad 002 */
article p {
	display: none;
}