/*Especificidad 001*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

/*Especificidad 001*/
form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-gap: 20px;
    background-color: coral;
    color: black;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    min-height: 40em;
    border-radius: 1em;
    grid-auto-rows: 1fr;
}

/*Especificidad 011*/
input[type="text"] {
    grid-column: 1/6;
    grid-row: 1/3;
    background-color: aliceblue;
    color: black;
    font-size: x-large;
    text-align: right;
}

/*Especificidad 011*/
input[type="button"]{
    border-radius: 0.3em;
    background-color: lightgray;
    font-size: x-large;
    color: black;
}

/*Especificidad 021*/
input[type="button"][value="รท"],
input[type="button"][value="*"],
input[type="button"][value="-"],
input[type="button"][value="+"] {
    background-color: darkred;
    color: white;
}

/*Especificidad 021*/
input[type="button"][value="mc"],
input[type="button"][value="mr"],
input[type="button"][value="m-"],
input[type="button"][value="m+"],
input[type="button"][value="ms"] {
    background-color: darkslategray;
    color: white;
}

/*Especificidad 021*/
input[type="button"][value="="] { 
    background-color: white;
    color: black;
}

input[type="button"][value="NO"] {
    visibility: hidden;
}